<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/logo_small.svg" style="height: 3rem;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                        <a class="nav-link" href="#">
                            <span>{{ .Name }} {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}</span>
                        </a>
                    </li>
                {{ else }}
                    <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                        <a class="nav-link" href="{{ .URL }}">
                            <span>{{ .Name }} </span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>