<div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Important links:</h5>
            {{range $.Site.Params.sidebar.links}}
                {{range $text, $link := .}}
                <a href="{{$link}}" class="btn btn-primary m-1" rel="nofollow noopener" target="_blank" title="{{$text}}">
                    {{$text}}
                </a>
                {{end}}
            {{end}}
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <p class="card-text">
                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/upbhack?ref_src=twsrc%5Etfw">Tweets by upbhack</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </p>
        </div>
    </div>
</div>